# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.17.0
requests==2.31.0
beautifulsoup4==4.12.2
azure-storage-blob==12.18.2
flask==3.0.0
waitress==2.1.2
redis==5.0.0
flask_session==0.5.0
tqdm==4.66.2
azure-identity==1.15.0