.date-picker-container {
    display: flex;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.date-picker-container label {
    margin-right: 5px;
}


.react-datepicker__input-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.react-datepicker-wrapper {
    margin: 10px 0;
}

.date-picker-container label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 10px;
}

.App {
    padding: 10px;
    margin: 5px;
}

.analysis-container {
    display: flex;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    color: #4CAF50;
}

.portfolio-value {
    font-size: 12px;
    font-weight: bold;
    width: 50%;
}

.stock-table-container {
    padding: 10px;
    margin: 0px 10px 10px 10px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-title {
    font-size: 12px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0px 10px 0 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .summary {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
  }

.config-label {
    font-size: 12px;
    margin: 0px 5px 0px 12px;
    font-weight: bold;
}

.config-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0px;
    font-size: 12px;
}