table {
    border-collapse: collapse;
    /* width: 100%; */
    font-size: 12px;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.returns {
    position: relative;
    background-color: #f0f0f0;
    border:2px solid #ccc;
    font-size: 13px;
}

.returns::after {
    content: '%';
    position: absolute;
    margin-left: 5px;
}

.stock-data {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Buy {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}

.Sell {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.Hold {
    background-color: #ff9800;
    color: white;
    text-align: center;
    font-size: 12px;
}

.profit {
    font-size: 12px;
    font-weight: bold;
    background: green;
    color: white;
    align-items: center;
}

.loss {
    font-size: 12px;
    font-weight: bold;
    background: #dc3545;
    /* Red color */
    color: white;
    align-items: center;
}

.nochange {
    font-size: 12px;
    font-weight: bold;
    background: #ffc107;
    /* Yellow color */
    color: white;
    align-items: center;
}

.values {
    text-align: center;
    font-size: 12px;
}

.stock-name {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.stock-symbol {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}