table {
    border-collapse: collapse;
    /* width: 100%; */
    font-size: 12px;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.returns {
    position: relative;
    background-color: #f0f0f0;
    border:2px solid #ccc;
    font-size: 13px;
}

.returns::after {
    content: '%';
    position: absolute;
    margin-left: 5px;
}

.stock-data {
    max-height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}